%bigbox{
    width: 1092px;margin: 0 auto;
    &:after{
        content: ".";
        display: block;
        clear: both;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
}
%hover{
    &:hover{
        color: #E31436;
    }
}
%circle{
    border-radius: 50%;
}

