//color
$color_light:#999;
$color_middle:#666;
$color_deep:#333;
$color_foot:#c2c2c2;
$color_red:#E31436;
$color_deepred:#d22147;
$color_blue:#51B8F1;

//font-size
$fonts:12px;
$fontm:14px;
$fontl:16px;
$fontx:18px;
$fontxx:24px;
